<% provide(:title, "Timetable") %>
    <div class="container">
      <div class="form-horizontal" role="form">
        <%= form_tag "/timetables/index", :method => :get do %>
        <%= select_tag :department, options_for_select(["C", "E", "S", "M"]), :prompt => "学科", class: 'btn btn-success'%>
        <%= select_tag :grade, options_for_select([1, 2, 3, 4, 5]), :prompt => "学年", class: 'btn btn-success' %>
        <%= submit_tag "選択", class: 'btn btn-success' %>
        <% end %>
      </div>

      <h1><%= @m %></h1>
        <ul class="timetable">
          <% if !@timetable.nil? %>
            <table border="1">
            <th></td><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th>
            <% 8.times do |n| %>
              <tr>
              <td> <%= n + 1 %> </td>
              <% @timetable.day_timetables.each do |t| %>
                <td> <%= t.subjects[n].name unless t.subjects[n].nil? %></td>
              <% end %>
              </tr>
            <% end %>
            </table>
          <% end %>
        </ul>
    </div>
