<% provide(:title, "Attendance") %>
    <div class="container">
      <%= form_tag "/attendances/index", :method => :get do %>
      <%= select_tag :department, options_for_select(["C", "E", "S", "M"]), :prompt => "学科" %>
      <%= select_tag :grade, options_for_select(1..5), :prompt => "学年" %>
      <% if $mode == "office" %>
        <%= select_tag :week, options_for_select(1..52), :prompt => "週" %>
      <% end %>
      <% if $mode == "teacher" %>
        <%= select_tag :subject, options_for_select(Subject.all.map { |s| [s.name, s.id] }), :prompt => "科目" %>
      <% end %>
      <!--<%= select_tag :mode, options_for_select(["office", "teacher"]), :prompt => "モード" %>-->
      <%= submit_tag "選択" %>
      <% end %>

      <h1><%= @message %></h1>

        <ul>
            <table class="table table-bordered table-hover" style="background-color: #ffffff;">

            <% if $mode == "teacher" %>
              <% if !@subjectAttendance.blank?%>
              <th> Name </th>
              <% @subjectAttendance.day_attendances.each do |a| %>
                <th> <%= a.date %> </th>
              <% end %>
              <% @subjectAttendance.day_attendances.first.student_statuses.count.times do |n| %>
                <tr>
                  <td> <%= @subjectAttendance.day_attendances.first.student_statuses[n].student.first_name %> </td>
                  <% @subjectAttendance.day_attendances.each do |a| %>
                    <td> <%= a.student_statuses[n].status %> </td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
            <% elsif $mode == "office" %>

              <% if !@dayAttendances.first.nil? %>
                <th> Name </th>
                <% 5.times do |day| %>
                  <th colspan="<%= @dayAttendances.where("date = ?", (Date.commercial(2016, @week) + day).to_s).count%>"> <%= (Date.commercial(2016, @week.to_i) + day).to_s %> </th>
                <% end %>

                <tr>
                <td></td>
                <% @dayAttendances.each do |d| %>
                  <td> <%= d.subject_attendance.subject.name %> </td>
                <% end %>
                </tr>

                <% @dayAttendances.first.student_statuses.count.times do |n| %>
                  <tr>
                  <td> <%= @dayAttendances.first.student_statuses[n].student.first_name %> </td>
                  <% @dayAttendances.each do |d| %>
                    <td class="
                      <%= if d.student_statuses[n].status == 2 then
                        "absence1"
                      elsif d.student_statuses[n].status == 1 then
                        "absence2"
                      end %>">
                    </td>
                    <!-- <td class="<%= "absence2" if d.student_statuses[n].status == 2%>"></td> -->
                  <% end %>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
            </table>
        </ul>
    </div>
