<!DOCTYPE html>
<html>
  <head>
    <title>Students</title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <h1>All students</h1>

        <ul class="students">
          <% @students.each do |student| %>
            <li>
              <%= student.number %>
              <%= student.first_name + " " + student.last_name %>
            </li>
          <% end %>
        </ul>
    </div>
  </body>
</html>
