<!DOCTYPE html>
<html>
  <body class="container">
    <!-- <table class="table table-bordered table-hover" style="background-color: #ffffff;">
      <tr><%= link_to "出席簿",   attendances_index1_path %></tr>
      <tr><%= link_to "時間割",   timetables_index_path %></tr>
      <tr><%= link_to "座席表", seats_index_path %></tr>
      <tr><%= link_to "アカウント", '#' %></tr>
    </table>
  -->
    <table class="table table-bordered table-striped table-hover" width="30%" style="background-color: #ffffff;margin-top:10%;">
     <tr><th><%= link_to "出席簿",   attendances_index1_path %></th></tr>
     <tr><th><%= link_to "時間割",   timetables_index_path %></th></tr>
     <tr><th><%= link_to "座席表", seats_index_path %></th></tr>
     <tr><th><%= link_to "アカウント", '#' %></th></tr>
    </table>
  </body>
</html>
